#card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 1%;
  padding: 2%;
  width: 400px;
  border: 2px solid slategray;
  text-align: center;
  background-color: rgb(165, 151, 151);
  border-radius: 5px;
}

.card-button {
  margin: 0 auto;
}

.countryImg {
  width: 70%;
  height: 35%;
  margin: 0 auto;
}

.input1 {
  margin: 0 auto;
  width: 60%; 
}

body {
  background-color: rgb(71, 66, 66)
}

.diaries {
  width: 90%;
  height: 15%;
  background-color: rgb(165, 151, 151);
  text-align: center;
  margin: 0 auto;
}

.green {
  background-color: green;
}